<h1>Sửa</h1>
<form action="/update" method="POST">
  ID: <input type="text" name="id" value="<%= custommer4.id%>" /> <br />
  Id District: <input type="text" name="idDistrict" value="<%= custommer4.idDistrict%>" /> <br />
  Id Village :<input type="number" name="idVillage" value="<%= custommer4.idVillage%>" /><br />
  Address:<input
    type="text"
    name="address"
    value="<%= custommer4.address%>"
  /><br />
  Bank Name:<input
    type="text"
    name="bankName"
    value="<%= custommer4.bankName%>"
  /><br />
  Branch Name:<input
    type="text"
    name="branchName"
    value="<%= custommer4.branchName%>"
  /><br />
  <button type="submit">Sua</button>
</form>
